@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans), sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root {
  --bg-color: #f3f4f6;
  --text-color: #1f2937;
  --card-bg: #ffffff;
  --button-bg: #2563eb;
  --button-text: #ffffff;
}
.dark {
  --bg-color: #0f172a;
  --text-color: #f1f5f9;
  --card-bg: #1e293b;
  --button-bg: #facc15;
  --button-text: #1e293b;
}
